<table border="1">
  <tr>
    <td>
      <a href="javascript:void(0)" (click)="goToIndex()">
        Create Short Link
      </a>
    </td>
    <td>
      <a href="javascript:void(0)" (click)="goToLinks()">
        View My Links
      </a>
    </td>
    <td>
      Logged in as <b>{{getLogin()}}</b>
      <input type="text" #loginValue>
      <button (click)="login(loginValue.value)">Login</button>
    </td>
  </tr>
</table>
<div>
  <input type="text" #linkValue>
  <button (click)="createLink(linkValue.value)">Create</button>
</div>
<table border="1">
    <tr align="center">
        <td>Original link</td>
        <td>Short link</td>
        <td>Created at</td>
        <td>Times used</td>
    </tr>
    <tr align="center" *ngFor="let link of getAllLinks()">
        <td>
            <a target="_new" href="{{link.o_link}}">{{link.o_link}}</a>
        </td>
        <td>
            <a target="_new" href="{{link.s_link}}">{{link.s_link}}</a>
        </td>
        <td>
            {{link.created_at}}
        </td>
        <td>
            {{link.counter}}
        </td>
    </tr>
</table>
