<table border="1">
  <tr>
    <td>
      <a href="javascript:void(0)" (click)="goToIndex()">
        Create Short Link
      </a>
    </td>
    <td>
      <a href="javascript:void(0)" (click)="goToLinks()">
        View My Links
      </a>
    </td>
    <td>
      Logged in as <b>{{getLogin()}}</b>
      <input type="text" #loginValue>
      <button (click)="login(loginValue.value)">Login</button>
    </td>
  </tr>
</table>
<div>
  <input type="text" #linkValue>
  <button (click)="createLink(linkValue.value); goToLinks()">Create</button>
</div>
